@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-MediumItalic.otf') format('opentype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-SemiBold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-SemiBoldItalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Libre Caslon';
	src: url('/fonts/libre/LibreCaslonCondensed-BoldItalic.otf') format('opentype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-Book.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/montreal/PPNeueMontreal-SemiBolditalic.otf') format('opentype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-Ultralight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-UltralightItalic.otf') format('opentype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-Ultrabold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'PP Editorial New';
	src: url('/fonts/PPEditorial/PPEditorialNew-UltraboldItalic.otf') format('opentype');
	font-weight: 800;
	font-style: italic;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'PP Neue Montreal', sans-serif;
	font-weight: 400;
	background: #1a1a1a url('https://pub-6cd5bf10c6f641a28ec9656b861a4fe2.r2.dev/static/wave_gradient.png') no-repeat center center fixed;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}